<div class="cd-section" id="blogs">
    <section class="blogs-3">
        <div class="container py-7">
            <div class="row mb-9">
                <div class="col-lg-10 col-md-8 mx-auto">
                    <h2 class="title mb-5">Update Request List</h2>
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th>No.</th>
                                        <th>Request Type</th>
                                        <th>Program Name</th>
                                        <th>Description</th>
                                        <th>Request Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody class="list">
                                    <tr>
                                        <td>1.</td>
                                        <td>Banner</td>
                                        <td>Program Bantuan Sara Hidup</td>
                                        <td></td>
                                        <td>16 July 2020</td>
                                        <td>
                                            <button class="btn btn-success btn-sm">Approve</button>
                                            <button class="btn btn-warning btn-sm">Reject</button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>2.</td>
                                        <td>Berita</td>
                                        <td>Lanjutan Tarikh Akhir BSH</td>
                                        <td>Tarikh akhir dilanjutkan</td>
                                        <td>10 July 2020</td>
                                        <td>
                                            <button class="btn btn-success btn-sm">Approve</button>
                                            <button class="btn btn-warning btn-sm">Reject</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>