<div class="cd-section" id="blogs">
  <section class="blogs-3">
    <div class="container py-7">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
          <h2 class="title mb-5">Add Program</h2>
          <div class="card bg-secondary">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Agency</label>
                    <input class="form-control" />
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Pillar</label>
                    <select class="form-control">
                      <option>Bantuan Sosial</option>
                      <option>Insurans Sosial</option>
                      <option>LMI</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Program Name</label>
                    <input class="form-control" />
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Target Group</label>
                    <select class="form-control">
                      <option>Kanak-kanak</option>
                      <option>Dewasa</option>
                      <option>Warga Emas</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Start Date</label>
                    <input class="form-control" />
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">End Date</label>
                    <input class="form-control" />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="form-control-label">Objective</label>
                <textarea class="form-control"></textarea>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Cost</label>
                    <input class="form-control" />
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Status</label>
                    <select class="form-control">
                      <option>Active</option>
                      <option>Inactive</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="form-control-label">Database URL</label>
                <input class="form-control" />
              </div>

              <div class="form-group">
                <label class="form-control-label">Terms</label>
                <textarea class="form-control"></textarea>
              </div>

              <div class="">
                <button class="btn btn-primary btn-round">Create</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
