<nav
  class="navbar navbar-main navbar-expand-lg navbar-dark headroom"
  style="background-color: #172b4d"
  id="navbar-main"
>
  <div class="container-fluid">
    <span>
      <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
        <img src="assets/img/logo/jata_negara.png" id="brand-logo" />
      </a>
      <span>
        <a
          class="navbar-brand mt--1"
          style="cursor: pointer"
          (click)="getColorCOde('1ebebb')"
        >
          <img
            src="assets/img/icons/color1.png"
            style="width: 30px; height: 30px; border: 2px solid #fff"
          />
        </a>
        <a
          class="navbar-brand mt--1"
          style="cursor: pointer"
          (click)="getColorCOde('982d58')"
        >
          <img
            src="assets/img/icons/color2.png"
            style="width: 30px; height: 30px; border: 2px solid #fff"
          />
        </a>
        <a
          class="navbar-brand mt--1"
          style="cursor: pointer"
          (click)="getColorCOde('e06100')"
        >
          <img
            src="assets/img/icons/color3.png"
            style="width: 30px; height: 30px; border: 2px solid #fff"
          />
        </a>
      </span>
      <span>
        <button class="btn btn-sm btn-white flat-butt text-black">A+</button>
        <button class="btn btn-sm btn-white flat-butt text-black">A-</button>
      </span>
    </span>
    <button
      aria-controls="navbar_global"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      [attr.aria-expanded]="!isCollapsed"
      (click)="isCollapsed = !isCollapsed"
      id="navbar_global"
      type="button"
    >
      <span class="navbar-toggler-icon"> </span>
    </button>
    <div
      class="navbar-collapse"
      [isAnimated]="true"
      [collapse]="isCollapsed"
      id="navbar_global"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/index']">
              <img src="assets/img/brand/blue.png" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              aria-controls="navbar_global"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navbar_global"
              type="button"
            ></button>
          </div>
        </div>
      </div>
      <!-- <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto"> -->
      <!-- <li class="nav-item">
          <a class="nav-link cursor-pointer" [routerLink]="['/home']">
            Utama
          </a>
        </li> -->

      <!-- <li class="nav-item dropdown">
          <a
            class="nav-link"
            data-toggle="dropdown"
            href="javascript:;"
            role="button"
          >
            <i class="ni ni-app d-lg-none"> </i>
            <span class="nav-link-inner--text"> Perlindungan Sosial </span>
          </a>
          <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/agency/programs']">
               Program
            </a>
            <a class="dropdown-item">
               MySPC
            </a>
            <a class="dropdown-item">
               Agensi
              Perlindungan Sosial
            </a>
            <a class="dropdown-item" [routerLink]="['/agency/banner']">
               Update Requests
            </a>
            <a class="dropdown-item" [routerLink]="['/agency/banner-request']">
               Create Update
              Request
            </a>
            <a class="dropdown-item" [routerLink]="['/agency/report']">
               Report
            </a>
            <a class="dropdown-item" [routerLink]="['/agency/request-data']">
               Request Data
            </a>
            <a class="dropdown-item" [routerLink]="['/agency/requested-data']">
               Requested Data
              List
            </a>
            <a
              class="dropdown-item"
              [routerLink]="['/agency/search-individual-profile']"
            >
               Search Individual
              Profile
            </a>
          </div>
        </li> -->

      <!-- <li class="nav-item dropdown">
          <a
            class="nav-link"
            data-toggle="dropdown"
            href="javascript:;"
            role="button"
          >
            <i class="ni ni-single-copy-04 d-lg-none"> </i>
            <span class="nav-link-inner--text"> Admin </span>
          </a>
          <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/admin/program']">
              Program
            </a>
            <a class="dropdown-item" [routerLink]="['/admin/banner']">
              Banner
            </a>
            <a class="dropdown-item" [routerLink]="['/admin/request-data']">
              Request Data
            </a>
            <a class="dropdown-item" [routerLink]="['/admin/user-management']">
              User Management
            </a>
            <a class="dropdown-item" [routerLink]="['/admin/user']">
              User
            </a>
            <a class="dropdown-item" [routerLink]="['/admin/user-add']">
              Add User
            </a>
          </div>
        </li>
      </ul> -->
      <ul
        id="menu"
        class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto"
      >
        <li class="parent">
          <a> Perlindungan Sosial </a>

          <!-- <a href="#">Fun Puzzle<span class="expand">»</span></a> -->
          <ul class="child">
            <li class="parent">
              <a href="#"> MySPC<span class="expand">»</span></a>
              <ul class="child">
                <li>
                  <a href="#" nowrap>Pengenalan</a>
                </li>
                <li>
                  <a href="#" nowrap>Struktur</a>
                </li>
                <li class="parent">
                  <a href="#"
                    >Jawatankuasa Kerja<span class="expand">»</span></a
                  >
                  <ul class="child">
                    <li>
                      <a href="#" nowrap> Bantuan Sosial</a>
                    </li>
                    <li>
                      <a href="#" nowrap> Insurans Sosial</a>
                    </li>
                    <li>
                      <a href="#" nowrap> Intervensi Pasaran Buruh</a>
                    </li>
                    <li>
                      <a href="#" nowrap> Pengurusan Data</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" nowrap> Program</a>
            </li>
            <li>
              <a href="#" nowrap> Agensi Perlindungan Sosial</a>
            </li>
          </ul>
        </li>

        <li class="parent">
          <a href="#">Pages</a>
          <ul class="child">
            <li style="cursor: pointer">
              <a (click)="openModalsm(login)"> Log Masuk</a>
            </li>
            <li>
              <a [routerLink]="['/admin/program']"> Program </a>
            </li>
            <li>
              <a [routerLink]="['/admin/banner']"> Banner </a>
            </li>
            <li>
              <a [routerLink]="['/admin/request-data']"> Request Data </a>
            </li>
            <li>
              <a [routerLink]="['/admin/user-management']">
                Pengurusan pengguna
              </a>
            </li>
            <li>
              <a [routerLink]="['/admin/user']"> Penguna </a>
            </li>
            <li>
              <a [routerLink]="['/admin/user-add']"> Tambah Penguna </a>
            </li>
            <li>
              <a [routerLink]="['/admin/program-icu-admin']">
                ICU Admin Program
              </a>
            </li>
            <li>
              <a [routerLink]="['/admin/banner-icu-admin']">
                ICU Admin Banner
              </a>
            </li>
            <li class="parent">
              <a [routerLink]="['/agency/banner']"> Agensi Senarai Banner</a>
            </li>
            <li>
              <a [routerLink]="['/agency/banner-request']">
                Agensi Permintaan Banner
              </a>
            </li>
            <li>
              <a [routerLink]="['/admin/report']"> Report </a>
            </li>
            <!-- <li>
              <a [routerLink]="['/agency/report']"> Report </a>
            </li> -->
            <li>
              <a [routerLink]="['/agency/request-data']"> Request Data </a>
            </li>
            <li>
              <a [routerLink]="['/agency/requested-data']">
                Requested Data List
              </a>
            </li>
            <li>
              <a [routerLink]="['/agency/search-individual-profile']">
                Search Individual Profile
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <span class="mr-4">
        <select style="width: 150px; height: 38" placeholder="Pilih Fon">
          <option>Pilih Fon</option>
          <option>Times New Roman</option>
          <option>Arial</option>
        </select>
      </span>
      <span class="mr-4">
        <input style="width: 150px; height: 28" placeholder="Cari" />
      </span>
      <span class="mt-1 mr-4">
        <label class="custom-toggle">
          <input type="checkbox" checked="" />
          <span
            class="custom-toggle-slider rounded-circle"
            data-label-on="EN"
            data-label-off="BM"
          ></span>
        </label>
      </span>

      <span class="mr-4">
        <i class="ni ni-bell-55 text-white"></i>
      </span>

      <span class="avatar avatar-sm rounded-circle">
        <img alt="Image placeholder" [src]="imgAvatar" />
      </span>
    </div>
  </div>
</nav>

<!-- <div
  class="container-fluid"
  style="
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 10vh !important;
  "
>
  <div class="row">
    <div class="col text-left">qweqweqweq</div>
  </div>
</div> -->

<!-- <div
  class="container-fluid"
  style="
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 10vh !important;
  "
>
  <div class="row">
    <div
      class="col-md-12 col-12"
      style="padding-left: 0 !important; padding-right: 0 !important"
    >
      <carousel>
        <slide>
          <img
            [src]="slider1"
            alt="first slide"
            style="display: block; width: 100%; height: 400px; cursor: pointer"
            class="d-flex mx-auto"
            (click)="navigatePage('agency/programs')"
          />
        </slide>
        <slide>
          <img
            [src]="slider2"
            alt="first slide"
            style="display: block; width: 100%; height: 400px; cursor: pointer"
            class="d-flex mx-auto"
          />
        </slide>
      </carousel>
    </div>
  </div>
</div> -->

<header class="header-3 bg-dark">
  <!-- <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="javascript:;"> Creative Tim </a>
        <button
          aria-controls="navbarSupportedContent"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          [attr.aria-expanded]="!isCollapsed"
          (click)="isCollapsed = !isCollapsed"
          id="example-header-3"
          type="button"
        >
          <span class="navbar-toggler-icon"> </span>
        </button>
      </div>
      <div
        class="navbar-collapse"
        [isAnimated]="true"
        [collapse]="isCollapsed"
        id="example-header-3"
      >
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a> Argon <span> Design System PRO </span> </a>
            </div>
            <div class="col-6 collapse-close text-right">
              <button
                aria-controls="navigation-index"
                aria-label="Toggle navigation"
                class="navbar-toggler"
                [attr.aria-expanded]="!isCollapsed"
                (click)="isCollapsed = !isCollapsed"
                id="example-header-3"
                type="button"
              >
                <span> </span> <span> </span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="javascript:;"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;"> About Us </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;"> Contact Us </a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
  <div class="page-header header-filter">
    <div class="content-center">
      <div class="row">
        <div class="col-lg-5 col-md-8 col-12 mx-auto positioned scollable">
          <h4 class="title text-white text-uppercase ml-0">Berita</h4>
          <div class="info info-horizontal ml-0">
            <div
              class="icon icon-shape bg-white shadow rounded-circle text-default"
            >
              <i class="ni ni-active-40"> </i>
            </div>
            <div class="description">
              <h6 class="info-title text-uppercase text-white pl-0">
                Tajuk: Pakej Rangsangan Ekonomi
              </h6>
              <p class="text-white opacity-8">
                Pakej Rangsangan Ekonomi (PRE) PRIHATIN telah diumumkan oleh YAB
                Perdana Menteri pada 27 Mac 2020. Pakej PRIHATIN ini akan
                menyediakan bantuan segera untuk meringankan beban semua,
                terutamanya mereka yang terkesan dengan pandemik COVID-19.
              </p>
            </div>
          </div>
          <div class="info info-horizontal ml-0">
            <div
              class="icon icon-shape bg-white shadow rounded-circle text-default"
            >
              <i class="ni ni-trophy"> </i>
            </div>
            <div class="description">
              <h6 class="info-title text-uppercase text-white pl-0">
                Tajuk: Pelajar B40 menerima dermasiswa MYBRighter Future YTN
                2020
              </h6>
              <p class="text-white opacity-8">
                Seramai 2,500 pelajar baharu daripada keluarga golongan B40 di
                seluruh negara, terpilih menerima tawaran program Dermasiswa
                ‘MyBrighter Future’ Yayasan Tenaga Nasional (YTN) 2020 bagi
                melanjutkan pelajaran dalam pelbagai bidang, di Institusi
                Pengajian Tinggi (IPT).
              </p>
            </div>
          </div>
          <div class="info info-horizontal ml-0">
            <div
              class="icon icon-shape bg-white shadow rounded-circle text-default"
            >
              <i class="ni ni-paper-diploma"> </i>
            </div>
            <div class="description">
              <h6 class="info-title text-uppercase text-white pl-0">
                Tajuk: Elaun Sara Hidup Nelayan Dinaikkan
              </h6>
              <p class="text-white opacity-8">
                Kerajaan bersetuju menaikkan Elaun Sara Hidup Nelayan dari RM250
                kepada RM300 sebulan, kata Perdana Menteri Tan Sri Muhyiddin
                Yassin.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-md-6">
          <div class="glide">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides" style="width: 600px !important">
                <li class="glide__slide">
                  <img
                    height="400"
                    style="width: 600px !important"
                    [src]="slider1"
                    (click)="navigatePage('agency/programs')"
                  />
                </li>
                <li class="glide__slide">
                  <img
                    height="400"
                    [src]="slider2"
                    style="width: 600px !important"
                    (click)="navigatePage('agency/programs')"
                  />
                </li>
                <li class="glide__slide">
                  <img
                    height="400"
                    [src]="slider3"
                    (click)="navigatePage('agency/programs')"
                    style="width: 600px !important"
                  />
                </li>
                <li class="glide__slide">
                  <img
                    height="400"
                    [src]="slider4"
                    style="width: 600px !important"
                    (click)="navigatePage('agency/programs')"
                  />
                </li>
              </ul>
            </div>
            <div class="glide__arrows mt-3" data-glide-el="controls">
              <button
                class="glide__arrow glide__arrow--left"
                data-glide-dir="<"
                aria-label="Previous"
              >
                <i class="ni ni-bold-left"> </i>
              </button>
              <button
                class="glide__arrow glide__arrow--right"
                data-glide-dir=">"
                aria-label="Next"
              >
                <i class="ni ni-bold-right"> </i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<ng-template #login>
  <div class="modal-body">
    <div class="row">
      <div class="col text-right">
        <span
          data-dismiss="modal"
          (click)="closeModal()"
          style="padding-right: 30px"
        >
          ×
        </span>
      </div>
    </div>
    <span class="text-center">
      <h5>Log Masuk</h5>
    </span>

    <div class="form-group">
      <label class="form-control-label">Username</label>
      <input class="form-control" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Password</label>
      <input class="form-control" type="password" />
    </div>
    <div class="text-center">
      <button class="btn btn-default">Log Masuk</button>
    </div>
  </div>
</ng-template>

<ng-template #daftar>
  <div class="modal-body">
    <div class="row mb-3">
      <div class="col text-right">
        <span
          data-dismiss="modal"
          (click)="closeModal()"
          style="padding-right: 30px"
        >
          ×
        </span>
      </div>
    </div>
    <label><h5>Sila P</h5></label>
    <div class="row">
      <div
        class="col-md-4 text-center"
        style="padding-top: 25px"
        (click)="agediv()"
      >
        <div class="card card-lift--hover shadow border-0 info info-hover-info">
          <div class="card-body" style="cursor: pointer">
            <h4><b>0 - 18</b></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
