<div class="cd-section" id="blogs">
  <section class="blogs-3">
    <div class="container py-7">
      <div class="row mb-9">
        <div class="col-lg-12 col-md-12 mx-auto">
          <h2 class="title mb-5">Banner List</h2>
          <div class="card">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>No.</th>
                    <th>Jenis Program</th>
                    <th>Nama Program</th>
                    <th>Penerangan</th>
                    <th>Tarikh Mohon</th>
                    <th>Status</th>
                  </tr>
                </thead>

                <tbody class="list">
                  <tr>
                    <td>1.</td>
                    <td>Banner</td>
                    <td>Program Bantuan Sara Hidup</td>
                    <td></td>
                    <td>16 July 2020</td>
                    <td>
                      <span class="badge badge-warning">In Progress</span>
                    </td>
                  </tr>

                  <tr>
                    <td>2.</td>
                    <td>Berita</td>
                    <td>Lanjutan Tarikh Akhir BSH</td>
                    <td>Tarikh akhir dilanjutkan</td>
                    <td>10 July 2020</td>
                    <td><span class="badge badge-success">Approved</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
