<div class="cd-section" id="blogs">
  <section class="blogs-3">
    <div class="container py-7">
      <div class="row">
        <div class="col-lg-10 col-md-8 mx-auto">
          <h2 class="title mb-5">Tambah Penguna</h2>
          <div class="card bg-secondary">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Nama Penuh</label>
                    <input class="form-control" />
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">ID Penguna </label>
                    <input class="form-control" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Kata Laluan</label>
                    <input class="form-control" />
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Sah Kata Laluan</label>
                    <input class="form-control" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Aras</label>
                    <select class="form-control">
                      <option>Agensi Penyedia</option>
                      <option>Agensi Pembekal Data</option>
                      <option>Masyarakat</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Akses</label>
                    <select class="form-control"></select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="form-control-label">Alamat</label>
                <textarea class="form-control"></textarea>
              </div>

              <div class="">
                <button class="btn btn-primary btn-round">Hantar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
