<!-- <div class="page-header"> -->

<div class="container">
  <!-- <div class="row align-items-center text-left">
    <div class="col-lg-5 col-12">
      <h1 class="display-3">
        Akses kepada<span class="text-primary">Maklumat PDPS program </span>
      </h1>
      <p class="lead pb-4">
        Kami berhasrat untuk fokus dalam membina hubungan dengan masyarakat.
      </p>
      <div class="row row-input">
        <div class="col-sm-8 col-12">
          <input
            aria-label="Email Anda"
            class="form-control"
            id="signupSrEmail"
            name="email"
            placeholder="Email Anda"
            type="email"
          />
        </div>
        <div class="col-sm-4 col-12 pl-lg-0">
          <button class="btn btn-primary btn-block" type="submit">
            Langgan
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-12 pl-0">
      <img class="ml-lg-5" src="assets/img/ill/bg6-2.svg" width="100%" />
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-4 text-center" style="padding-top: 25px">
      <div class="card card-lift--hover shadow border-0">
        <div
          class="card-body info info-hover-warning"
          style="cursor: pointer"
          (click)="dashProgdiv('k')"
        >
          <img
            style="width: 30%"
            src="assets/img/faces/icon1.png"
            width="100%"
          />
          <br />
          <br />
          <b>Kanak-kanak</b>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center" style="padding-top: 25px">
      <div class="card card-lift--hover shadow border-0">
        <div
          class="card-body info info-hover-success"
          style="cursor: pointer"
          (click)="dashProgdiv('r')"
        >
          <img
            style="width: 30%"
            src="assets/img/faces/icon2.png"
            width="100%"
          />
          <br />
          <br />
          <b>Dewasa</b>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center" style="padding-top: 25px">
      <div class="card card-lift--hover shadow border-0">
        <div
          class="card-body info info-hover-danger"
          style="cursor: pointer"
          (click)="dashProgdiv('w')"
        >
          <img
            style="width: 30%"
            src="assets/img/faces/icon3.png"
            width="100%"
          />
          <br />
          <br />
          <b>Warga Emas</b>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="dashProgKanakShow" class="pb-3">
    <hr style="width: 100%" />
    <div class="row">
      <div class="col-md-3" (click)="dashProgKategoridiv('oku')">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>OKU</p>
          </div>
        </div>
      </div>

      <div class="col-md-3" (click)="dashProgKategoridiv('kesi')">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Kesihatan</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" (click)="dashProgKategoridiv('keba')">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Kebajikan/Sosial</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" (click)="dashProgKategoridiv('insu')">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Insurans</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="dashProgRemajaShow" class="pb-3">
    <hr style="width: 100%" />
    <div class="row">
      <div class="col-md-3" (click)="dashProgKategoridiv('insu')">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Insurans</p>
          </div>
        </div>
      </div>

      <div class="col-md-3" (click)="dashProgKategoridiv('oran')">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Orang Asli</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" (click)="dashProgKategoridiv('oku')">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>OKU</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" (click)="dashProgKategoridiv('peru')">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Perumahan/Institusi</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" (click)="dashProgKategoridiv('perk')">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Pekerjaan</p>
          </div>
        </div>
      </div>

      <div class="col-md-3" (click)="dashProgKategoridiv('kesi')">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Kesihatan</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-3" (click)="dashProgKategoridiv(viewProgramModal)">
          <div class="card card-lift--hover shadow border-0">
            <div class="card-body" style="cursor: pointer">
              <p>Kebajikan/Sosial</p>
            </div>
          </div>
        </div> -->
    </div>
  </div>

  <div *ngIf="dashProgWargaShow" class="pb-3">
    <hr style="width: 100%" />
    <div class="row">
      <div class="col-md-3" (click)="dashProgKategoridiv('oran')">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Orang Asli</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" (click)="dashProgKategoridiv('oku')">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>OKU</p>
          </div>
        </div>
      </div>

      <div class="col-md-3" (click)="dashProgKategoridiv('kesi')">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Kesihatan</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" (click)="dashProgKategoridiv('insu')">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Insurans</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="dashProgKategoriOkuShow" class="pb-3">
    <hr style="width: 100%" />
    <div class="row">
      <div class="col-md-3" (click)="openModal(viewProgramModal)">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Bantuan Sara Hidup (BSH)</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" (click)="openModal(viewProgramModal)">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Skim mySalam</p>
          </div>
        </div>
      </div>

      <div class="col-md-3" (click)="openModal(viewProgramModal)">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Program Rebet Electrik RM40</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="dashProgKategoriKesShow" class="pb-3">
    <hr style="width: 100%" />
    <div class="row">
      <div class="col-md-3" (click)="openModal(viewProgramModal)">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Bantuan Sara Hidup (BSH)</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" (click)="openModal(viewProgramModal)">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Skim mySalam</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="dashProgKategoriElseShow" class="pb-3">
    <hr style="width: 100%" />
    <div class="row">
      <div class="col-md-3" (click)="openModal(viewProgramModal)">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Bantuan Sara Hidup (BSH)</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" (click)="openModal(viewProgramModal)">
        <div class="card card-lift--hover shadow border-0">
          <div class="card-body" style="cursor: pointer">
            <p>Bantuan Awal Persekolahan</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- (click)="openModal(viewProgramModal)" -->
<!-- </div> -->

<ng-template #viewProgramModal>
  <div class="row">
    <div class="col"></div>
    <div class="col text-center pt-4">
      <h6><b>Maklumat Program</b></h6>
    </div>
    <div class="col text-right">
      <button
        aria-label="Close"
        class="close"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        <span
          aria-hidden="true"
          class="text-dark my-auto text-xl"
          style="padding-right: 30px; padding-top: 20px"
        >
          ×
        </span>
      </button>
    </div>
  </div>

  <div class="modal-body">
    <div class="table-responsive">
      <table class="table align-items-center table-flush table-hover">
        <tbody class="list">
          <tr>
            <td>Agensi</td>
            <td>: Kementerian Kewangan</td>
          </tr>
          <tr>
            <td>Nama Program</td>
            <td>: Bantuan Sara Hidup (BSH)</td>
          </tr>
          <tr>
            <td>Kumpulan Sasaran</td>
            <td>: Warga Emas</td>
          </tr>
          <tr>
            <td>Kategori</td>
            <td>: Kebajikan Masyarakat</td>
          </tr>
          <tr>
            <td>Objektif Program</td>
            <td>: Bantuan isi rumah untuk rakyat Malaysia</td>
          </tr>
          <tr>
            <td>Kriteria/Syarat</td>
            <td>: Isi rumah pendapatan bulanan RM2000.00dan kebawah</td>
          </tr>
          <tr>
            <td>Manfaat</td>
            <td>: Wang Tunai</td>
          </tr>
          <tr>
            <td>Kos (RM)</td>
            <td>: 600.00</td>
          </tr>
          <tr>
            <td>Kekerapan</td>
            <td>: Sekali</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="text-left pb-3 pl-5">
      <button class="btn btn-default" (click)="navigatePage('agency/programs')">
        Pautan Ke Agensi
      </button>
      <!-- <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Tutup
      </button> -->
    </div>
  </div>
</ng-template>

<ng-template #addModal>
  <div class="modal-body">
    <div class="row mb-3">
      <div class="col-md-11 text-center">
        <h3><b> Selamat Datang </b></h3>
        <h5>Biar Kami Bantu Anda</h5>
      </div>
      <div class="col-md-1 text-right">
        <span
          data-dismiss="modal"
          (click)="closeModal()"
          style="padding-right: 30px"
        >
          ×
        </span>
      </div>
    </div>
    <label><h5>Sila Pilih Umur</h5></label>
    <div class="row">
      <div
        class="col-md-4 text-center"
        style="padding-top: 25px"
        (click)="agediv()"
      >
        <div class="card card-lift--hover shadow border-0 info info-hover-info">
          <div class="card-body" style="cursor: pointer">
            <h4><b>0 - 18</b></h4>
          </div>
        </div>
      </div>
      <div
        class="col-md-4 text-center"
        style="padding-top: 25px"
        (click)="agediv()"
      >
        <div class="card card-lift--hover shadow border-0 info info-hover-info">
          <div class="card-body" style="cursor: pointer">
            <h4><b>19 - 59</b></h4>
          </div>
        </div>
      </div>
      <div
        class="col-md-4 text-center"
        style="padding-top: 25px"
        (click)="agediv()"
      >
        <div class="card card-lift--hover shadow border-0 info info-hover-info">
          <div class="card-body" style="cursor: pointer">
            <h4><b>60 Keatas</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="genderShow">
      <label><h5>Sila Pilih Jantina</h5></label>
      <div class="row">
        <div
          class="col text-center"
          style="padding-top: 25px"
          (click)="genderdiv()"
        >
          <div
            class="card card-lift--hover shadow border-0 info info-hover-info"
          >
            <div class="card-body" style="cursor: pointer">
              <img src="assets/img/faces/icon21.png" width="50%" />
            </div>
          </div>
        </div>
        <div
          class="col text-center"
          style="padding-top: 25px"
          (click)="genderdiv()"
        >
          <div
            class="card card-lift--hover shadow border-0 info info-hover-info"
          >
            <div class="card-body" style="cursor: pointer">
              <img src="assets/img/faces/icon22.png" width="50%" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="buttonShow" style="margin-bottom: 30px">
    <div class="text-center">
      <button class="btn btn-default" (click)="navigatePage('agency/programs')">
        Search
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
