<div class="cd-section" id="blogs">
  <section class="blogs-3">
    <div class="container py-7">
      <div class="row mb-9">
        <div class="col-lg-12 col-md-12 mx-auto">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h2 class="title mb-5">Senarai Banner/Berita Dimohon</h2>
                </div>
                <div class="col text-right">
                  <button
                    class="btn btn-sm btn-default"
                    (click)="openModal(addBannerModal)"
                  >
                    Tambah
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th>No.</th>
                      <th>Jenis Program</th>
                      <th>Nama Program</th>
                      <th>Penerangan</th>
                      <th>Tarikh Mohon</th>
                      <th>Status</th>
                    </tr>
                  </thead>

                  <tbody class="list">
                    <tr>
                      <td>1.</td>
                      <td>Banner</td>
                      <td>Program Bantuan Sara Hidup</td>
                      <td></td>
                      <td>16 July 2020</td>
                      <td>
                        <span class="badge badge-warning">In Progress</span>
                      </td>
                    </tr>

                    <tr>
                      <td>2.</td>
                      <td>Berita</td>
                      <td>Lanjutan Tarikh Akhir BSH</td>
                      <td>Tarikh akhir dilanjutkan</td>
                      <td>10 July 2020</td>
                      <td><span class="badge badge-success">Approved</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h2 class="title mb-5">
                    Senarai Banner/Berita yang Diluluskan
                  </h2>
                </div>
                <!-- <div class="col text-right">
                  <button
                    class="btn btn-sm btn-default"
                    (click)="openModal(addBannerModal)"
                  >
                    Tambah
                  </button>
                </div> -->
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th>No.</th>
                      <th>Jenis Program</th>
                      <th>Nama Program</th>
                      <th>Penerangan</th>
                      <th>Tarikh Mohon</th>
                      <th>Status</th>
                    </tr>
                  </thead>

                  <tbody class="list">
                    <tr>
                      <td>1.</td>
                      <td>Banner</td>
                      <td>Program Bantuan Sara Hidup</td>
                      <td></td>
                      <td>16 July 2020</td>
                      <td>
                        <span class="badge badge-warning">In Progress</span>
                      </td>
                    </tr>

                    <tr>
                      <td>2.</td>
                      <td>Berita</td>
                      <td>Lanjutan Tarikh Akhir BSH</td>
                      <td>Tarikh akhir dilanjutkan</td>
                      <td>10 July 2020</td>
                      <td><span class="badge badge-success">Approved</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #addBannerModal>
  <div class="modal-header bg-default">
    <h6 class="text-white">Tambah Banner/Berita</h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Agensi</label>
          <input class="form-control" />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Teras </label>
          <input class="form-control" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Nama / Jenis Program</label>
          <input class="form-control" />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Kumpulan Sasaran </label>
          <input class="form-control" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Tarikh Mula</label>
          <input class="form-control" type="date" />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Tarikh Tamat </label>
          <input class="form-control" type="date" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Muat naik Ikon</label>
          <input class="form-control" type="file" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="text-right pb-3 pl-5">
      <button
        class="btn btn-default"
        (click)="successAlert('Berjaya Simpan Banner/Berita')"
      >
        Submit
      </button>
      <!-- <button
            class="btn btn-outline-danger ml-auto"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
          >
            Tutup
          </button> -->
    </div>
  </div>
</ng-template>
