<div class="cd-section" id="blogs">
    <section class="blogs-3">
        <div class="container py-7">
            <div class="row mb-9">
                <div class="col-lg-10 col-md-8 mx-auto">
                    <h2 class="title mb-5">Update Request List</h2>
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th>No.</th>
                                        <th>Request To</th>
                                        <th>Type of Data</th>
                                        <th>Request Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>

                                <tbody class="list">
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>