<div class="cd-section" id="blogs">
  <section class="blogs-3">
    <div class="container py-7">
      <div class="row mb-3">
        <div class="col-lg-10 col-md-8 mx-auto">
          <h2 class="title mb-5">Approved Requested List</h2>
          <div class="card">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>No.</th>
                    <th>Request To</th>
                    <th>Type of Data</th>
                    <th>Request Date</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody class="list">
                  <tr>
                    <td>1.</td>
                    <td>MAMPU</td>
                    <td>Dataset</td>
                    <td>22 July 2020</td>
                    <td>
                      <button class="btn btn-sm btn-success">Approve</button>
                    </td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td>MCMC</td>
                    <td>Dataset</td>
                    <td>22 July 2020</td>
                    <td>
                      <button class="btn btn-sm btn-success">Approve</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-10 col-md-8 mx-auto">
          <h2 class="title">Pending Requested List</h2>
          <div class="card">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>No.</th>
                    <th>Request To</th>
                    <th>Type of Data</th>
                    <th>Request Date</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody class="list">
                  <tr>
                    <td>1.</td>
                    <td>LHDN</td>
                    <td>Dataset</td>
                    <td>22 July 2020</td>
                    <td>
                      <button class="btn btn-sm btn-success">Pending</button>
                    </td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td>JPM</td>
                    <td>Dataset</td>
                    <td>22 July 2020</td>
                    <td>
                      <button class="btn btn-sm btn-success">Pending</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
