<div class="cd-section setBackground" id="blogs">
  <section class="blogs-3">
    <div class="container py-7">
      <div class="row">
        <div class="col">
          <div class="card card-raised card-form-horizontal">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-10">
                  <div class="input-group">
                    <div class="input-group-prepend rounded-pill-left">
                      <span class="input-group-text rounded-pill-left">
                        <i class="fas fa-info"> </i>
                      </span>
                    </div>
                    <input
                      class="form-control rounded-pill-right"
                      placeholder="Cari Maklumat Individu"
                      type="text"
                    />
                  </div>
                </div>

                <div class="col-sm-2">
                  <button
                    class="btn btn-primary btn-round"
                    type="button"
                    (click)="cariIndividu()"
                  >
                    Search
                  </button>
                </div>
              </div>
              <!-- <span class="text-small text-light"
                >Please exclude sysmbol ("-") and alphabet ("A") Example: "123"
                instead "1234-A".</span
              > -->
            </div>
          </div>
        </div>
      </div>

      <div class="card" *ngIf="showCarian">
        <div class="card-header">
          <h3 class="title">Carian Individu</h3>
        </div>
        <div class="card-body">
          <p>Nama: Che Kiah binti Ahmad</p>
          <p>NRIC: 670101-11-9827</p>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th>No.</th>
                  <th>Nama Program</th>
                  <th>Agensi</th>
                  <th>Jumlah</th>
                  <th>Kekerapan</th>
                  <th>Tarikh disahkan</th>
                  <th>Tarikh Tamat<br />Program</th>
                </tr>
              </thead>

              <tbody class="list">
                <tr>
                  <td>1</td>
                  <td>Bantuan Sara Hidup</td>
                  <td>MOF</td>
                  <td>RM600</td>
                  <td>Sekali</td>
                  <td>19/09/2020</td>
                  <td>31/12/2020</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
