<div class="cd-section" id="blogs">
  <section class="blogs-3">
    <div class="container py-7">
      <div class="row mb-9">
        <div class="col-lg-10 col-md-8 mx-auto">
          <h2 class="title mb-5">Senarai Program</h2>
          <div class="card">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>No.</th>
                    <th>Nama Program</th>
                    <th>Kumpulan</th>
                    <th>Kos (RM)</th>
                    <th>Kekerapan</th>
                    <th>Tarikh Kemaskini</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody class="list">
                  <tr>
                    <td>1.</td>
                    <td>Bantuan Sara Hidup (BSH)</td>
                    <td>Warga Emas</td>
                    <td>600.00</td>
                    <td>One-off</td>
                    <td>16 June 2020</td>
                    <td><span class="badge badge-success">Active</span></td>
                    <td>
                      <button class="btn btn-sm btn-default">
                        Pautan Ke Agensi
                      </button>
                    </td>
                  </tr>

                  <tr>
                    <td>2.</td>
                    <td>Bantuan Am Negeri</td>
                    <td>Dewasa</td>
                    <td>1500.00</td>
                    <td>One-off</td>
                    <td>4 June 2020</td>
                    <td><span class="badge badge-warning">Inactive</span></td>
                    <td>
                      <button class="btn btn-sm btn-default">
                        Pautan Ke Agensi
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
